/*body {
    background-color: rgb(91, 77, 151);
    }
@media only screen and (max-width: 600px) {
    body {
        background-color: #4ed334d5;
    }
  }
  */

.clasefotocv {
    /*margin: 30px 10px 20px 50px;
    float: left;*/
    border-radius: 50px;
    border: 2px solid rgb(56, 180, 230);
    margin-top: 5px;
    margin-bottom: 5px;   
}
.clasetituloppal {
    border: 2px solid rgb(56, 180, 230);
    font-weight: bold;
    color: rgb(10, 73, 131);
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;  
    /*margin: 30px 10px 20px 80px;*/
    /*padding: 20px 20px 20px 30px;
    /*text-align: center;*/
    /*float: center;
    font-display: center;*/
}

li{
    text-align: left;
    list-style:square inside;
    border: none;
    margin: 1px 10px 1px 1px;
    padding: 1px 1px 10px 10px;
}
section {
    width: auto;
    height: auto;
    border: none; /*3px solid rgb(56, 180, 230);*/
    margin: 20px 15px 15px 20px;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
	width: 95%;
    background-color: rgb(235, 238, 232);
    
}

/*.dp{

    border: 3px solid rgb(56, 180, 230);
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url(https://thumbs.dreamstime.com/b/estilo-de-caricatura-icono-datos-personales-tarjeta-del-vector-la-para-el-dise%C3%B1o-web-aislado-en-fondo-blanco-191638202.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 27.5% 100%;
    /*margin: 0px 1px 20px 1px;
    padding: 1px 1px 20px 1px;

}*/
.dp, .fa, .fc, .ep, .lang, .hp, .odi, .ref {

    border: 3px solid rgb(56, 180, 230);
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(207, 228, 228);
    /*margin: 0px 1px 20px 1px;
    padding: 1px 1px 20px 1px;*/

}
h2{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    border: none;
    margin: 0px 5px 0px 5px;
    padding: 1px 10px 10px 10px;
    font-weight: bold;
    color: rgb(10, 73, 131);
    text-align: justify;
    text-decoration: underline;
}

h3{
    border: none;
    margin: 1px 5px 1px 1px;
    padding: 1px 10px 10px 10px;
    text-decoration: underline;
    text-align: left;
}

p{
    font-family: 'Playfair Display', serif;
    text-align: justify;
    font-size: small;
    padding: 0px 10px 0px 10px;
    margin: 0px 5px 0px 5px;
}

